extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura


block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nunc sit amet felis consequat dictum sed at dolor. Fusce euismod eros dolor, ac viverra tellus dapibus eu. Mauris aliquam ex ac metus mollis rhoncus. Donec est libero, fermentum vitae iaculis at, rhoncus ut eros. Sed pharetra ullamcorper ipsum, sit amet placerat purus accumsan faucibus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nunc sit amet felis consequat dictum sed at dolor. Fusce euismod eros dolor, ac viverra tellus dapibus eu. Mauris aliquam ex ac metus mollis rhoncus. Donec est libero, fermentum vitae iaculis at, rhoncus ut eros. Sed pharetra ullamcorper ipsum, sit amet placerat purus accumsan faucibus. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.mb-5.text-center Opiniones de Nuestros Clientes
        .row.testimoniales
            each opinion in opiniones
                .col-md-6.col-lg-4.mb-4 
                    .card
                        .card-body 
                            blockquote.blockquote 
                            p.mb-0 
                                |  #{opinion.mensaje}
                            footer.blockquote-footer 
                                |  #{opinion.nombre}

            
