extends ./layout/index

block contenido
    main.container-fluid.mt-5
        .row.justify-content-md-center
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid mt-3")
            .col-md-5
                h1.text-center #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi ligula, egestas mollis bibendum ut, venenatis sit amet nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam vel neque eget dolor facilisis pharetra. Praesent auctor tempor ante a imperdiet. In condimentum magna ac dolor dignissim molestie. Nam faucibus fringilla faucibus.

                p Fusce sit amet nisi dolor. Quisque dictum mi nec nunc viverra, eu ultrices orci ultrices. Pellentesque nec dui posuere, accumsan nibh et, vulputate nibh. Praesent aliquet pulvinar porta. Quisque luctus id ligula ut fermentum. Praesent tortor augue, maximus id dolor molestie, fringilla mollis turpis. Etiam ut vehicula est. Pellentesque commodo at odio consectetur efficitur. 

                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eu suscipit velit, id commodo lectus. Aliquam nec leo lacinia, gravida sem quis, feugiat erat. In elit turpis, sodales et massa ut, eleifend fermentum nibh.  

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.            